In [1]:

def hello (str):
     print("in function   " + str)
     print("after printing in function definition")
     return;
    
    
print("1")
print("2")
hello("PRIYANK")
hello("KASHYAP")
print("3")

1
2
in function   PRIYANK
after printing in function definition
in function   KASHYAP
after printing in function definition
3

In [2]:
def changeme( mylist ):
   mylist.append([1,2,3,4]);
   print ("Values inside the function: ", mylist)
   return;

mylist = [10,20,30];
changeme( mylist );
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [3]:
def changeme( mylist ):
    print ("BEFORE CHANGESValues inside the function: ", mylist)
    mylist = [1,2,3,4]; 
    print ("AFTER CHANGES Values inside the function: ", mylist)
    return


mylist1 = [10,20,30];
changeme( mylist1 );
print ("Values outside the function: ", mylist1)

BEFORE CHANGESValues inside the function:  [10, 20, 30]
AFTER CHANGES Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [4]:
def printme():
     print (str)
     return;


printme()

<class 'str'>

In [5]:
def printme( str ):
     print (str)
     return;


printme( str = "My string")

My string

In [6]:
def printinfo( name, age ):
    print ("Name: ", name)
    print ("Age ", age)
    return;


printinfo( age=90, name="JOJO" )

Name:  JOJO
Age  90

In [7]:
def printinfo( name, age ):
    print ("Name: ", name)
    print ("Age ", age)
    return;

printinfo( "jojo",90 )

Name:  jojo
Age  90

In [8]:
def printinfo( name, age ):
    print ("Name: ", name)
    print ("Age ", age)
    return;

printinfo( 80, "jojo" )

Name:  80
Age  jojo

In [9]:
def printinfo( name, age = 35 ):
    print ("Name: ", name)
    print ("Age ", age)
    return;


printinfo( age=90, name="jojo" )
printinfo( name="jojo" )

Name:  jojo
Age  90
Name:  jojo
Age  35

In [10]:
def printinfo( arg1, *vartuple ):
     print ("Output is: ")
     print ("arg1==",arg1)
     for var in vartuple:
        print (var)
     return;

printinfo( 10,78 )
printinfo( 70, 60, 50,90 )

Output is:
arg1== 10
78
Output is:
arg1== 70
60
50
90

In [11]:
sum = lambda arg1, arg2: arg1 + arg2;

print ("Value of total : ", sum( 10, 20 ))
print ("Value of total : ", sum( 20, 20 ))

Value of total :  30
Value of total :  40

In [12]:
def sum( arg1, arg2 ):
    total = arg1 + arg2
    print ("Inside the function : ", total)
    return total;


total1 = sum( 10, 20 );
print ("Outside the function : ", total1 )

Inside the function :  30
Outside the function :  30

In [13]:
total = 99; 

def sum( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Inside the function local total : ", total)
    return total;


sum( 10, 20 );
print ("Outside the function global total : ", total )

Inside the function local total :  30
Outside the function global total :  99